manifest {
    homePage = 'https://github.com/iarcbioinfo/octopus-nf'
    description = 'Use ocotpus pipeline with nextflow'
    mainScript = 'octopus.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" 
       	  conda.createTimeout = "200 min" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/octopus-nf:v1.0'
  }
  singularity { 
    singularity.enabled = true 
    //process.container = 'iarcbioinfo/octopus-nf:v1.0'
    pullTimeout = "200 min"
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."


timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/octopus-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/octopus-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/octopus-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/octopus-nf_dag.html"
}

